/** Notion / Eleventy specific */

.font-bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.code {
  font-family: monospace;
}

/* COLORS */
/** for official NOTION colors, see
 *  https: //docs.super.so/notion-colors
 */

.yellow {
  color: yellow;
}

.gray {
  color: gray;
}

.brown {
  color: brown;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}

.pink {
  color: pink;
}

.red {
  color: red;
}

.gray-bg {
  background-color: gray;
}

.brown-bg {
  background-color: brown;
}

.orange-bg {
  background-color: orange;
}

.yellow-bg {
  background-color: yellow;
}

.green-bg {
  background-color: green;
}

.blue-bg {
  background-color: blue;
}

.purple-bg {
  background-color: purple;
}

.pink-bg {
  background-color: pink;
}

.red-bg {
  background-color: red;
}

.todo-item {
  display: flex;
  align-items: center;
  padding-left: 0.8rem;
}

.todo-item input {
  margin-right: 0.5rem;
}
