/** Notion / Eleventy specific */

.font-bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.code {
  font-family: monospace;
}

.yellow {
  color: yellow;
}

.gray {
  color: gray;
}

.brown {
  color: brown;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}

.pink {
  color: pink;
}

.red {
  color: red;
}

.todo-item {
  display: flex;
  align-items: center;
  padding-left: 0.8rem;
}

.todo-item input {
  margin-right: 0.5rem;
}
