---
pageTitle: Eleventy (11ty) & Notion API as Headless CMS
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/bamboo.dark.min.css">
    <link rel="stylesheet" href="/css/notion.css">
    <style>

      header {
        position: sticky;
        top: 0;
        z-index: 1;
        background: var(--b-bg-1);
      }

      footer {
        text-align: center;
      }

      /** youtube embed responsive hack 
       * cf. https://stackoverflow.com/a/15844571
       */
      figure.youtube-wrapper {
        float: none;
        clear: both;
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
        margin-bottom: 3rem;
      }

      figure.youtube-wrapper iframe.youtube {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      figure.youtube-wrapper figcaption {
        position: absolute;
        bottom: -2rem;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <h1>
          <a href="#">{{pageTitle}}</a>
        </h1>
      </nav>
    </header>
    <blockquote>
      <a href="https://fubits.notion.site/fubits/notion-cms-test-dbfab7a2a2bf476d96fb50222ff0c481">Notion Source</a> | <a href="https://gitlab.com/fubits/11ty-notion-api/">Repository</a> | Articles: {{ articles.length }}
    </blockquote>
    <blockquote>v2: uses Notion database instead of a root page as parent</blockquote>


    {% for article in articles %}
      <hr>
      <section>
        <h1>Title: {{ article.title }}</h1>
        <h3>Subtitle: {{ article.subtitle }}</h3>
        <blockquote>
          <span>Date: {{ article.date }}</span> | <span>Authors: {{ article.authors }}</span></blockquote>

        {% set listItemCounter = 0 %}

        {% for block in article.body %}
          {% switch block.block_type %}

            {% case "heading_1" %}
              <h2>
                {% for elem in block.parsedText %}
                  {{- elem | safe -}}
                {% endfor %}
              </h2>

            {% case "heading_2" %}
              <h3>
                {% for elem in block.parsedText %}
                  {{- elem | safe -}}
                {% endfor %}
              </h3>

            {% case "heading_3" %}
              <h4>
                {% for elem in block.parsedText %}
                  {{- elem | safe -}}
                {% endfor %}
              </h4>

            {% case "paragraph" %}
              <p>
                {% for elem in block.parsedText %}
                  {{- elem | safe -}}
                {% endfor %}
              </p>

            {% case "bulleted_list_item" %}
              {% if listItemCounter == 0 %}
                <ul>
              {% endif %}
              {% set listItemCounter = listItemCounter + 1 %}
                <li>
                  {% for elem in block.parsedText %}
                    {{- elem | safe -}}
                  {% endfor %}
                </li>
              {% if block.next_block_type != "bulleted_list_item" %}
                {% set listItemCounter = 0 %}
                </ul>
              {% endif %}

            {% case "numbered_list_item" %}
              {% if listItemCounter == 0 %}
                <ol>
              {% endif %}
              {% set listItemCounter = listItemCounter + 1 %}
                <li>
                  {% for elem in block.parsedText %}
                    {{- elem | safe -}}
                  {% endfor %}
                </li>
              {% if block.next_block_type != "numbered_list_item" %}
                {% set listItemCounter = 0 %}
                </ol>
              {% endif %}

            {% case "quote" %}
            {% case "callout" %}
              <blockquote>
                {% for elem in block.parsedText %}
                  {{- elem | safe -}}
                {% endfor %}
              </blockquote>
            
            {% case "code" %}
              <pre>{% for elem in block.parsedText %}
                  {{- elem | safe -}}
                {% endfor %}</pre>

            {% case "to_do" %}
              <div class="todo-item">
                <input type="checkbox">
                <label>[to_do] {% for elem in block.parsedText %}
                    {{- elem | safe -}}
                  {% endfor %}
                </label>
              </div>

            {% case "image" %}
              <figure>
                <img src="{{ block.url }}" alt="{{ block.caption }}">
                <figcaption>
                  {% for elem in block.caption %}
                    {{- elem | safe -}}
                  {% endfor %}
                </figcaption>
              </figure>

            {% case "video" %}
              <figure>
                <video src="{{ block.url }}" alt="{{ block.caption }}"></video>
                <figcaption>
                  {% for elem in block.caption %}
                    {{- elem | safe -}}
                  {% endfor %}
                </figcaption>
              </figure>

            {% default %}
            {# catch unmatched block types and print ERROR #}
              <em>(ERROR - Uncaught Case - Type: {{- block.block_type -}})</em>
              {% for elem in block.parsedText %}
                <div>{{- elem | safe -}}</div>
              {% endfor %}

          {% endswitch %}

        {% endfor %}
      </section>
    {% endfor %}

    <footer>
      <a href="https://twitter.com/fubits">@fubits</a> | <a href="https://gitlab.com/fubits/11ty-notion-api">Gitlab Repo</a> | CSS: <a href="https://github.com/rilwis/bamboo">Bamboo CSS</a>
    </footer>
  </body>
</html>
